body {
    margin: inherit;
    font-family: 'Hind', sans-serif;
}

.top {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.bottom {
    font-family: 'Hind', sans-serif;
    font-size: .75em;
    font-weight: normal;
}

.name {
    color: #1db256;
}

header {
    display: flex;
    justify-content: center;
    background-color: #1db256;
}

ul {
    list-style-type: none;
    display: flex;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

li {
    display: flex;
    list-style-type: none;
}

.flex-container-center-column {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.flex-container-center-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    /*align-items: center;*/
    
}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.5s;
    background: #1db256
  }
  .ripple:hover {
    background: #15813e;
  } 
  .ripple:active {
    color: #1db256;
    background-size: 100%;
    transition: background 0s;
  }

button {
    border: none;
    cursor: pointer;
    color: white;
    background: #1db256;
    outline: none;

    font-family: 'Hind';
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.5vh 2.5vw 1.5vh 2.5vw;
}

a {
    line-height: 0;
    background: #1db256;
}

/*Cards*/
.card {
    box-shadow:1px 1px 2px 2px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 16em;
    height: 40vh;
    margin: 3em;
  }
  
  .card:hover {
    box-shadow:4px 4px rgba(0,0,0,0.2);
  }
  
  .container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: start;
    padding: 2px 16px;
    word-wrap: break-word;
  }

  .container-contact
  {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: start;
  }

  /*Contact Page*/
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Hind', sans-serif;
    font-size: 1em;
    font-weight: normal;
  }
  
  input[type=submit] {
    background-color: #1db256;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Hind', sans-serif;
    font-size: 1em;
    font-weight: normal;
  }
  
  input[type=submit]:hover {
    background: #15813e radial-gradient(circle, transparent 1%, white 1%) center/15000%;
  }

    /********** Large devices only **********/
    @media (min-width: 992px) {
      .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
      }
      .col-lg-1 {
        width: 8.33%;
      }
      .col-lg-2 {
        width: 16.66%;
      }
      .col-lg-3 {
        width: 25%;
      }
      .col-lg-4 {
        width: 33.33%;
      }
      .col-lg-5 {
        width: 41.66%;
      }
      .col-lg-6 {
        width: 50%;
      }
      .col-lg-7 {
        width: 58.33%;
      }
      .col-lg-8 {
        width: 66.66%;
      }
      .col-lg-9 {
        width: 74.99%;
      }
      .col-lg-10 {
        width: 83.33%;
      }
      .col-lg-11 {
        width: 91.66%;
      }
      .col-lg-12 {
        width: 100%;
      }
    }
    
    /********** Medium devices only **********/
    @media (min-width: 768px) and (max-width: 991px) {
      .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
      }
      .col-md-1 {
        width: 8.33%;
      }
      .col-md-2 {
        width: 16.66%;
      }
      .col-md-3 {
        width: 25%;
      }
      .col-md-4 {
        width: 33.33%;
      }
      .col-md-5 {
        width: 41.66%;
      }
      .col-md-6 {
        width: 50%;
      }
      .col-md-7 {
        width: 58.33%;
      }
      .col-md-8 {
        width: 66.66%;
      }
      .col-md-9 {
        width: 74.99%;
      }
      .col-md-10 {
        width: 83.33%;
      }
      .col-md-11 {
        width: 91.66%;
      }
      .col-md-12 {
        width: 100%;
      }
    }